#cardbookToolbarAddServerButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#address");
}
toolbar[brighttext] #cardbookToolbarAddServerButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#address-inverted");
}
#cardbookToolbarSyncButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#synchronize");
}
toolbar[brighttext] #cardbookToolbarSyncButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#synchronize-inverted");
}
#cardbookToolbarWriteButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newmessage");
}
toolbar[brighttext] #cardbookToolbarWriteButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newmessage-inverted");
}
#cardbookToolbarChatButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newim");
}
toolbar[brighttext] #cardbookToolbarChatButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newim-inverted");
}
#cardbookToolbarConfigurationButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#compact");
}
toolbar[brighttext] #cardbookToolbarConfigurationButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#compact-inverted");
}
#cardbookToolbarPrintButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#print");
}
toolbar[brighttext] #cardbookToolbarPrintButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#print-inverted");
}
#cardbookToolbarBackButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goback");
}
toolbar[brighttext] #cardbookToolbarBackButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goback-inverted");
}
#cardbookToolbarForwardButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goforward");
}
toolbar[brighttext] #cardbookToolbarForwardButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goforward-inverted");
}
#cardbookToolbarComplexSearch {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#filter");
}
toolbar[brighttext] #cardbookToolbarComplexSearch {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#filter-inverted");
}

#cardbookToolbarAddContactButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newcard");
}
toolbar[brighttext] #cardbookToolbarAddContactButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newcard-inverted");
}
#cardbookToolbarAddListButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newlist");
}
toolbar[brighttext] #cardbookToolbarAddListButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newlist-inverted");
}
#cardbookToolbarEditButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#edit");
}
toolbar[brighttext] #cardbookToolbarEditButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#edit-inverted");
}
#cardbookToolbarRemoveButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#abdelete");
}
toolbar[brighttext] #cardbookToolbarRemoveButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#abdelete-inverted");
}
