@@media not all and (-moz-mac-yosemite-theme) {
	#cardbookToolbarAddServerButton {
		list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-osxlion.svg#address");
	}
	#cardbookToolbarSyncButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#synchronize");
	}
	#cardbookToolbarWriteButton {
		list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-osxlion.svg#newmessage");
	}
	#cardbookToolbarChatButton {
		list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-osxlion.svg#newim");
	}
	#cardbookToolbarConfigurationButton {
		list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-osxlion.svg#compact");
	}
	#cardbookToolbarPrintButton {
		list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-osxlion.svg#print");
	}
	#cardbookToolbarBackButton {
		list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-osxlion.svg#goback");
	}
	#cardbookToolbarForwardButton {
		list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-osxlion.svg#goforward");
	}
	#cardbookToolbarComplexSearch {
		list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-osxlion.svg#filter");
	}
	#cardbookToolbarAddContactButton {
		list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-osxlion.svg#newcard");
	}
	#cardbookToolbarAddListButton {
		list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-osxlion.svg#newlist");
	}
	#cardbookToolbarEditButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#edit");
	}
	#cardbookToolbarRemoveButton {
		list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-osxlion.svg#abdelete");
	}
}

@media (-moz-mac-yosemite-theme) {
	#cardbookToolbarAddServerButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#address-flat");
	}
	#cardbookToolbarSyncButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#synchronize-flat");
	}
	#cardbookToolbarWriteButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newmessage-flat");
	}
	#cardbookToolbarChatButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newim-flat");
	}
	#cardbookToolbarConfigurationButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#compact-flat");
	}
	#cardbookToolbarPrintButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#print-flat");
	}
	#cardbookToolbarBackButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goback-flat");
	}
	#cardbookToolbarForwardButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goforward-flat");
	}
	#cardbookToolbarComplexSearch {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#filter-flat");
	}
	#cardbookToolbarAddContactButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newcard-flat");
	}
	#cardbookToolbarRemoveButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newlist-flat");
	}
	#cardbookToolbarEditButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#edit-flat");
	}
	#cardbookToolbarRemoveButton {
		list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#abdelete-flat");
	}
}

toolbar[brighttext] #cardbookToolbarAddServerButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#address-inverted");
}
toolbar[brighttext] #cardbookToolbarSyncButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#synchronize-inverted");
}
toolbar[brighttext] #cardbookToolbarWriteButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newmessage-inverted");
}
toolbar[brighttext] #cardbookToolbarChatButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newim-inverted");
}
toolbar[brighttext] #cardbookToolbarConfigurationButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#compact-inverted");
}
toolbar[brighttext] #cardbookToolbarPrintButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#print-inverted");
}
toolbar[brighttext] #cardbookToolbarBackButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goback-inverted");
}
toolbar[brighttext] #cardbookToolbarForwardButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#goforward-inverted");
}
toolbar[brighttext] #cardbookToolbarComplexSearch {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#filter-inverted");
}

toolbar[brighttext] #cardbookToolbarAddContactButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newcard-inverted");
}
toolbar[brighttext] #cardbookToolbarAddListButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#newlist-inverted");
}
toolbar[brighttext] #cardbookToolbarEditButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#edit-inverted");
}
toolbar[brighttext] #cardbookToolbarRemoveButton {
	list-style-image: url("chrome://cardbook/skin/cardbook-toolbar.svg#abdelete-inverted");
}
